.currencyCard {
  max-width: 100%;
  overflow: hidden;
  margin: 10px 0;
  border: 0.5px solid rgba(255, 255, 255, 0.3);

  @include tablet {
    width: calc((100% - 60px) / 2);
    float: left;
    margin: 10px;
  }

  &__header {
    font-size: 1.3rem;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    font-family: 'Saira Extra Condensed Bold';
    user-select: none;

    & > p {
      display: inline-block;
    }

    &__currency {
      font-family: 'Saira Extra Condensed Thin';
    }

    &__code {
      position: absolute;
      right: 140px;
    }
    &__rate {
      position: absolute;
      right: 50px;
      span {
        color: $mainColor;
        font-family: 'Saira Extra Condensed Bold';
      }
    }
    &__delete {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }

  &__chart {
    padding: 0 10px 10px 10px;

    &__date {
      font-size: 1.2rem;
      color: $mainColor;
      display: inline-block;
    }

    &__choose {
      float: right;
      text-align: right;
      display: inline-block;
      p {
        display: inline-block;
        opacity: 0.5;
        font-size: 1.2rem;
        margin-left: 5px;
        cursor: pointer;

        &.active {
          opacity: 1;
          &::after {
            opacity: 0.5;
          }
        }
        &:not(:last-child):after{
          content: '|';
          margin: 5px;
        }
      }
    }
  }  
}
