.currencyCard {
  max-width: 100%;
  // overflow: hidden;
  margin: 10px 0;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  // padding: 10px;

  @include tablet {
    width: calc((100% - 60px) / 2);
    float: left;
    margin: 10px;
  }

  // @include desktop {
  //   width: calc((100% - 60px) / 3);
  //   float: left;
  // }

  &__header {
    font-size: 1.3rem;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    font-weight: 300;
    user-select: none;

    & > p {
      display: inline-block;
    }

    &__currency {
      font-weight: 100;
    }

    &__code {
      position: absolute;
      right: 140px;
    }
    &__rate {
      position: absolute;
      right: 50px;
      span {
        color: $mainPink;
        font-weight: 500;
      }
    }
    &__delete {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }

  &__chart {
    padding: 0 10px;

    &__date {
      font-size: 1.2rem;
      color: lighten($mainBlue, 20%);
      display: inline-block;

    }
    &__choose {
      float: right;
      text-align: right;
      display: inline-block;
      p {
        display: inline-block;
        opacity: 0.5;
        font-size: 1.2rem;
        margin-left: 5px;

        cursor: pointer;
        &.active {
          opacity: 1;
        }
        &:not(:last-child):after{
          content: '|';
          margin: 5px;
        }
      }
    }
  }  
}
