$backgroundColor: #1D2731;
$mainColor: #D9B310;
$secondColor: #0B3C5D;

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url('../assets/fonts/SairaExtraCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed Thin';
  src: url('../assets/fonts/SairaExtraCondensed-Thin.ttf');
}

@font-face {
  font-family: 'Saira Extra Condensed Bold';
  src: url('../assets/fonts/SairaExtraCondensed-SemiBold.ttf');
}
