@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,300,400,500,700');
$mainPink: #c33764;
$mainBlue: #1d2671;

@import 'partials/mixins';
@import 'partials/container';
@import 'partials/form';
@import 'partials/currencyCard';
@import 'partials/loading';


body {
  color: #fff;
  background-color: #06111d;
  font-family: 'Saira Extra Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}
