@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,300,400,500,700');

$backgroundColor: #1D2731;
$mainColor: #D9B310;
$secondColor: #0B3C5D;

@import 'partials/mixins';
@import 'partials/container';
@import 'partials/header';
@import 'partials/modal';
@import 'partials/loading';
@import 'partials/form';
@import 'partials/currencyCard';
@import 'partials/footer'; 


body {
  color: #fff;
  background-color: $backgroundColor;
  font-family: 'Saira Extra Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}
